<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <array>
        <dict>
            <key>RANK</key>
            <integer>1</integer>
            <key>SCORE</key>
            <integer>2000</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>2</integer>
            <key>SCORE</key>
            <integer>1500</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>3</integer>
            <key>SCORE</key>
            <integer>1000</integer>
            <key>LEVEL</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>4</integer>
            <key>SCORE</key>
            <integer>850</integer>
            <key>LEVEL</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>5</integer>
            <key>SCORE</key>
            <integer>250</integer>
            <key>LEVEL</key>
            <integer>1</integer>
        </dict>
    </array>
</plist>
