<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <array>
        <dict>
            <key>RANK</key>
            <integer>111</integer>
            <key>SCORE</key>
            <integer>10000</integer>
            <key>LEVEL</key>
            <integer>8</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>2</integer>
            <key>SCORE</key>
            <integer>7500</integer>
            <key>LEVEL</key>
            <integer>6</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>3</integer>
            <key>SCORE</key>
            <integer>5000</integer>
            <key>LEVEL</key>
            <integer>4</integer>
        </dict>
    </array>
</plist>
