<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <array>
        <dict>
            <key>RANK</key>
            <integer>1</integer>
            <key>SCORE</key>
            <integer>10750</integer>
            <key>LEVEL</key>
            <integer>11</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>2</integer>
            <key>SCORE</key>
            <integer>5300</integer>
            <key>LEVEL</key>
            <integer>6</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>3</integer>
            <key>SCORE</key>
            <integer>2950</integer>
            <key>LEVEL</key>
            <integer>3</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>4</integer>
            <key>SCORE</key>
            <integer>2750</integer>
            <key>LEVEL</key>
            <integer>3</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>5</integer>
            <key>SCORE</key>
            <integer>2520</integer>
            <key>LEVEL</key>
            <integer>4</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>6</integer>
            <key>SCORE</key>
            <integer>2000</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>7</integer>
            <key>SCORE</key>
            <integer>1900</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>8</integer>
            <key>SCORE</key>
            <integer>1900</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>9</integer>
            <key>SCORE</key>
            <integer>1840</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
        <dict>
            <key>RANK</key>
            <integer>10</integer>
            <key>SCORE</key>
            <integer>1700</integer>
            <key>LEVEL</key>
            <integer>2</integer>
        </dict>
    </array>
</plist>
